*{
    box-sizing: border-box;
}

header{
    background-image: url('images/Port_Credit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Acme', sans-serif;
    
    
}

#header_title{
    color: #ffffff;
    background-color: #054A91;
    padding: 10px 15px;
    font-size: 32px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#tagline{
    color: #ffffff;
    background-color: #3e7cb1;
    padding: 10px 15px;
    border-radius: 10px;
}

main{
    display: flex;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    background-color: #DBE4EE;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 38px;
}

#restaurants{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding: 0 20px;
}

.rest_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.5s;
}

.rest_img:hover{
    transform: rotate(360deg) scale(1.2);
}

#main_title{
    color: #F17300;
    width: 439px;
    margin: 0px auto 54px auto;
    font-size: 24px;
 
}

.rest_title{
    margin-top: 22px;
    margin-bottom: 15px;
}


footer{
    display: flex;
   justify-content: center;
}

#guide{
    display: flex;
    flex-direction: row;
    margin-top: 73px;
    padding: 10px 15px;
    width: 400px;
    
    background-color: #F17300;
}

#guide_description{
    text-align: center;
}

#me{
    width: 180px;
    height: 248px;
    border-radius: 10px;
    object-fit: cover;

}







@media  screen and (max-width:575px) {
    #header_title{
        font-size: 20px;
    }


    #tagline{
        font-size: 13px;
    }


    #restaurants{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    #main_title{
       max-width: 80%;
     
    }
}
